Smart Agricuture system flow.json
[{
    "id": "6a097760.653918",
    "type": "tab",
    "label": "IBMIOT(smart Agriculture)",
    "disabled": false,
    "info": ""
}, {
    "id": "4fdd8d20.76a9b4",
    "type": "ibmiot in",
    "z": "6a097760.653918",
    "authentication": "apiKey",
    "apiKey": "233183d6.16ba7c",
    "inputType": "evt",
    "logicalInterface": "",
    "ruleId": "",
    "deviceId": "12345",
    "applicationId": "",
    "deviceType": "NODEMCU1",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "IBM IoT",
    "service": "registered",
    "allDevices": "",
    "allApplications": "",
    "allDeviceTypes": "",
    "allLogicalInterfaces": "",
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 130,
    "y": 440,
    "wires": [
        ["8d0c40d3.848cd", "6aa78b4a.da3eb4", "c396573b.e8d738", "5642999c.ed7868"]
    ]
}, {
    "id": "c396573b.e8d738",
    "type": "debug",
    "z": "6a097760.653918",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 770,
    "y": 300,
    "wires": []
}, {
    "id": "8a49f2d5.e9d07",
    "type": "ui_gauge",
    "z": "6a097760.653918",
    "name": "",
    "group": "aa83367.b741ec8",
    "order": 0,
    "width": "6",
    "height": "8",
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 480,
    "wires": []
}, {
    "id": "9e820fb2.1ded5",
    "type": "ui_gauge",
    "z": "6a097760.653918",
    "name": "",
    "group": "28e6141.0c047ec",
    "order": 0,
    "width": "6",
    "height": "8",
    "gtype": "gage",
    "title": "Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 650,
    "y": 560,
    "wires": []
}, {
    "id": "6aa78b4a.da3eb4",
    "type": "function",
    "z": "6a097760.653918",
    "name": "Temperature",
    "func": "msg.payload=msg.payload.d.temperature;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 560,
    "wires": [
        ["9e820fb2.1ded5", "c396573b.e8d738"]
    ]
}, {
    "id": "8d0c40d3.848cd",
    "type": "function",
    "z": "6a097760.653918",
    "name": "Humidity",
    "func": "msg.payload=msg.payload.d.humidity;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 500,
    "wires": [
        ["8a49f2d5.e9d07", "c396573b.e8d738"]
    ]
}, {
    "id": "5642999c.ed7868",
    "type": "function",
    "z": "6a097760.653918",
    "name": "SoilTemperature",
    "func": "msg.payload=msg.payload.d.objectTemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 460,
    "wires": [
        ["c396573b.e8d738", "dad1ab68.86f798"]
    ]
}, {
    "id": "dad1ab68.86f798",
    "type": "ui_gauge",
    "z": "6a097760.653918",
    "name": "",
    "group": "63db757e.8e0edc",
    "order": 2,
    "width": "6",
    "height": "8",
    "gtype": "gage",
    "title": "ObjectTemperature",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 750,
    "y": 400,
    "wires": []
}, {
    "id": "9de2a117.06e1d",
    "type": "http request",
    "z": "6a097760.653918",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://api.openweathermap.org/data/2.5/weather?q=Ponda,IN&appid=c17ea99bbf41216723c2071ce90c3633",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 260,
    "wires": [
        ["c396573b.e8d738"]
    ]
}, {
    "id": "cbdf50d7.8bd57",
    "type": "inject",
    "z": "6a097760.653918",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "x": 150,
    "y": 300,
    "wires": [
        ["9de2a117.06e1d"]
    ]
}, {
    "id": "f8fb8426.88b758",
    "type": "ibmiot out",
    "z": "6a097760.653918",
    "authentication": "apiKey",
    "apiKey": "233183d6.16ba7c",
    "outputType": "cmd",
    "deviceId": "12345",
    "deviceType": "NODEMCU1",
    "eventCommandType": "command",
    "format": "json",
    "data": "Data",
    "qos": 0,
    "name": "IBM IoT",
    "service": "registered",
    "x": 780,
    "y": 80,
    "wires": []
}, {
    "id": "2deb666d.10728a",
    "type": "ui_button",
    "z": "6a097760.653918",
    "name": "",
    "group": "d251626d.10cec",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Motor on",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"command\":\"motoron\"}",
    "payloadType": "json",
    "topic": "",
    "x": 160,
    "y": 60,
    "wires": [
        ["f8fb8426.88b758", "c396573b.e8d738"]
    ]
}, {
    "id": "154a1e0e.e80672",
    "type": "ui_button",
    "z": "6a097760.653918",
    "name": "",
    "group": "d251626d.10cec",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Motoroff",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"command\":\"motoroff\"}",
    "payloadType": "json",
    "topic": "",
    "x": 160,
    "y": 160,
    "wires": [
        ["f8fb8426.88b758", "c396573b.e8d738"]
    ]
}, {
    "id": "233183d6.16ba7c",
    "type": "ibmiot",
    "z": "",
    "name": "",
    "keepalive": "60",
    "serverName": "",
    "cleansession": true,
    "appId": "",
    "shared": false
}, {
    "id": "aa83367.b741ec8",
    "type": "ui_group",
    "z": "",
    "name": "Smart Agriculture Humidity",
    "tab": "c9a0299a.888208",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "28e6141.0c047ec",
    "type": "ui_group",
    "z": "",
    "name": "Smart AgricultureTemperature",
    "tab": "c9a0299a.888208",
    "order": 6,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "63db757e.8e0edc",
    "type": "ui_group",
    "z": "",
    "name": "Smart Agriculture ObjectTemp",
    "tab": "c9a0299a.888208",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "d251626d.10cec",
    "type": "ui_group",
    "z": "",
    "name": "Motor Commands",
    "tab": "c9a0299a.888208",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "c9a0299a.888208",
    "type": "ui_tab",
    "z": "",
    "name": "Smart Agriculture",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
}]